body { font-family: calibri,verdana,arial, helvetica, sans, sans-serif;}

header{
    padding: 8px 0;
}
footer {
    padding: 4px 0;
}

.form-container{
    width:400px;
    margin: 10px auto;
}

.output-container {
    margin: 10px auto;
    width:60%;
}

nav {
    display: flex;
    justify-content: center;
}