body { font-family: calibri,verdana,arial, helvetica, sans, sans-serif;}

header{
    padding: 8px 0;
}
footer {
    padding: 4px 0;
}

header, footer {
    background-color: WhiteSmoke;
    color: DarkGray;
    text-align: center;
    font-weight: bold;
}

.edit-graph-menu {
    margin:5px auto 40px auto;
}

.alpha-input-div  {
    width:35%;
    margin:15px auto;
}